body{
    background-color: #fff;
}

input.form-control:focus{
    box-shadow: none;
    border-color: #073c6d;
    
}
.form-control{
    color: #0e0d0d !important;

    border-color: #799ab8;
}

div.form-group label:not(.text-danger){
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #DF1F00;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}




