<div class="grid-table ml-5">
    <div class="thead">
        <div class="tr">
            <div class="td">Course Name</div>
            <div class="td">Country</div>
            <div class="td">Institution</div>
            <div class="td">Year</div>
            <div class="td" (click)="InitializeEducationalDetails()">
                <button class="btn text-success" 
                tooltip="Add qualifications">
                <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="tbody" [@listAnim]="formModelEducation.controls.length">
        <form class="tr" [formGroup]="fgroup"
         *ngFor="let fgroup of formModelEducation.controls; 
         let i = index"
         (submit)="UpdateEducation(fgroup)">
            <div class="td">
                <input class="form-control" formControlName="courseName">
            </div>
            <div class="td">
                <input class="form-control" formControlName="country">
            </div>
            <div class="td">
                <input class="form-control" formControlName="institutionName">
            </div>
            <div class="td">
                <input class="form-control" formControlName="yearOfCompletion">
            </div>
            <div class="td">
                <button class="btn text-primary bt-lg" tooltip="Edit" type="submit" [disabled]="fgroup.invalid">
                    <i class="far" [ngClass]="(fgroup.get('id').value ==  0)? 'fa-save' : 'fa-edit'"></i>

                </button>
                <button class="btn text-danger" tooltip="Delete" (click)="delete(fgroup.get('Id').value, i)"  >
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
           
        </form>
    </div>
</div>