<form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required mb-0">
      <label>First Name</label>
      <input class="form-control" formControlName="FirstName">
      <label class="text-danger"
        *ngIf="formModel.get('FirstName').touched && formModel.get('FirstName').errors?.required">This
        field is mandatory.</label>
    </div>
    <div class="form-group required mb-0">
      <label>Last Name</label>
      <input class="form-control" formControlName="LastName">
      <label class="text-danger"
        *ngIf="formModel.get('LastName').touched && formModel.get('LastName').errors?.required">This field
        is mandatory.</label>
    </div>
    <div class="form-group required mb-0">
      <label>Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger"
        *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email">Invalid email
        address.</label>
      <label class="text-danger"
        *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">This field is
        mandatory.</label>
    </div>
    <div formGroupName="Passwords">
      <div class="form-group required mb-0">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger"
          *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.minlength">Minimum
          4 characters required.</label>
      </div>
      <div class="form-group required">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
        <label class="text-danger"
          *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="formModel.get(  'Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
          Password does not match.</label>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary active btn-lg btn-block" [disabled]="!formModel.valid"><img *ngIf="isLoading"
            style="width :30px" src="assets/img/Loader.gif">{{signUpButtonText}}</button>
      </div>
    </div>
  </form>