


<div class="container" *ngIf="emptyList" [@noItemAnim]>
    <div class="image">

    </div>

</div>

<div class="grid-table" *ngIf="!emptyList">
    <div class="thead">
        <div class="tr" [@itemAnim]>
            <div class="td">Program Name</div>
            <div class="td">Program Code</div>
            <div class="td">Start Date</div>
            <div class="td">End Date</div>
            <div class="td">Status</div>
            <div class="td" (click)="InitializeGrantProgramForms()">
                <button class="btn text-success" tooltip="Add new grants"><i class="fa fa-plus"></i></button>
            </div>

        </div>
    </div>

    <div class="tbody" [@listAnim]="grantProgramForms.controls.length">
        <form class="tr" [formGroup]="fg" 
            *ngFor="let fg of grantProgramForms.controls; let i = index"
            >
            <div class="td">
                <input class="form-control" formControlName="ProgramName">
            </div>
            <div class="td">
                <input class="form-control" formControlName="ProgramCode">
            </div>

            <div class="td">

                <input type="text" placeholder="Select date" class="form-control" formControlName="StartDate"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true,  adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">


            </div>
            <div class="td">


                <input type="text" placeholder="Select date" class="form-control" formControlName="EndDate" bsDatepicker
                    [bsConfig]="{ isAnimated: true,  adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">


            </div>
            <div class="td">
                <input class="form-control" formControlName="Status">
                <!-- <div class="btn-group form-control" formControlName="Status" dropdown>
                    <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-animated">
                        Select status <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-animated">
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">Not Active</option>

                    </ul>
                </div> -->


            </div>
            <div class="td">
                <button class="btn text-primary bt-lg" tooltip="Edit" type="submit" [disabled]="fg.invalid" (click)="recordSubmit(fg)">
                    <i class="far" [ngClass]="(fg.get('Id').value ==  0)? 'fa-save' : 'fa-edit'"></i>

                </button>
                <button class="btn text-danger" tooltip="Delete" (click)="delete(fg.get('Id').value, i)"  >
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </form>

    </div>
</div>