<div class="wrapper">
    <div class="wrapped-div">

        <div class="row" [@formAnim]>
            <div class="col-md-10 offset-md-1">

                <form [formGroup]="formModelApplicant" autocomplete="off" (submit)="onSubmitApplicant()">

                    <!-- <div class="tab-header">
                        <h2>Grant Details</h2>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Grant program</label>

                        

                    </div> -->

                    <label class="text-danger"
                        *ngIf="formModelApplicant.get('FirstName').touched && formModelApplicant.get('FirstName').errors?.required">This
                        field is mandatory.</label>





                    <div class="tab-header">
                        <h2>Applicant Details</h2>
                    </div>
                    <div class="form-group required mb-0 mt-5">
                        <label>First Name</label>
                        <input class="form-control" formControlName="FirstName">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('FirstName').touched && formModelApplicant.get('FirstName').errors?.required">This
                            field is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Last Name</label>
                        <input class="form-control" formControlName="LastName">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('LastName').touched && formModelApplicant.get('LastName').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Email</label>
                        <input class="form-control" formControlName="Email">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('Email').touched && formModelApplicant.get('Email').errors?.email">Invalid
                            email
                            address.</label>
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('Email').touched && formModelApplicant.get('Email').errors?.required">This
                            field
                            is
                            mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Date of birth</label>
                        <input type="text" placeholder="Select date" class="form-control" formControlName="DateOfBirth"
                            bsDatepicker
                            [bsConfig]="{ isAnimated: true,  adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">



                    </div>

                    <div class="form-group required mb-0">
                        <label>Country</label>
                        <input class="form-control" formControlName="Country">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('FirstName').touched && formModelApplicant.get('FirstName').errors?.required">This
                            field is mandatory.</label>
                    </div>

                    <div class="form-group required mb-0">
                        <label>State</label>
                        <input class="form-control" formControlName="State">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('FirstName').touched && formModelApplicant.get('FirstName').errors?.required">This
                            field is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Physically disabled?</label>


                        <div class="form-check" formControlName="PhysicallyDisabled">
                            <input class="form-check-input" type="radio" [value]="true">
                            <label class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [value]="false">
                            <label class="form-check-label">
                                No
                            </label>
                        </div>

                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('PhysicallyDisabled').touched && formModelApplicant.get('PhysicallyDisabled').errors?.required">This
                            field is mandatory.</label>
                    </div>


                    <div class="tab-header">
                        <h2>Contact Details</h2>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Address</label>
                        <input class="form-control" formControlName="Address">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('Address').touched && formModelApplicant.get('Address').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>City</label>
                        <input class="form-control" formControlName="City">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('City').touched && formModelApplicant.get('City').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Postal Code</label>
                        <input class="form-control" formControlName="PostalCode">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('PostalCode').touched && formModelApplicant.get('PostalCode').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Mobile</label>
                        <input class="form-control" formControlName="Mobile">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('Mobile').touched && formModelApplicant.get('Mobile').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>
                    <div class="form-group required mb-0">
                        <label>Phone</label>
                        <input class="form-control" formControlName="Phone">
                        <label class="text-danger"
                            *ngIf="formModelApplicant.get('Phone').touched && formModelApplicant.get('Phone').errors?.required">This
                            field
                            is mandatory.</label>
                    </div>

                    <div class="form-row mt-4">
                        <div class="form-group col-md-8 offset-md-2 mt-3">
                            <button type="submit"
                                tooltip="If you want you can stop here. If you do so your application would be in Submitted status. If you fill the remaining status it would be in Completed status."
                                class="btn btn-primary active btn-lg btn-block" [disabled]="!formModelApplicant.valid">
                                <img *ngIf="isLoading" style="width :30px" src="assets/img/Loader.gif">
                                {{buttonTextApplicant}}
                            </button>

                            <button class="btn btn-link btn-block" (click)="goToEducation()">Click to add Education details</button>
                            <router-outlet></router-outlet> 
                        </div>
                        
                    </div>
                </form>


                

              

            </div>

            
        </div>
    </div>
</div>